

/* table th {
    width:150px;
    text-align:center;
    border:solid 1px black;
}

tbody tr td {
    text-align:center;
    width:50px;
    display:inline-block;
    border:solid 1px red;
} 

tbody tr  {
    height:100px;
    border:solid 3px blue;
    width: 400px;
}  */